__pycache__/
.venv/

dlib_checkpoint/
shape_predictor_68_face_landmarks.dat
79999_iter.pth
epoch_24_ckpt.pth.tar
yolo26n.pt
pretrained_ckpt

table_results.txt
verbose_results.txt
deploy.prototxt.txt
res10_300x300_ssd_iter_140000.caffemodel
detectors/faces_detected/
face_parser/parsing_results/
landmarks/landmarks_detected/
